

<div class="container5">



 <form name="form5" ng-submit="accUpdate()" novalidate >
  <br><br>
  <ul id="line1">


    <li><div class="form-group5" >
      <img src="../image/source.svg" alt="Avatar" class="myposting_bag"> 
      <input type="text" required  ng-model="acc.workplace"  name="field1" ng-required="true" autocomplete="off">
      <span class="highlight"></span>
      <span class="bar5"></span>
      <label >WORKPLACE</label>
    </div></li>

    <li> <div class="form-group5" >
     <img src="../image/destination.svg" alt="Avatar" class="myposting_bag"> 
     <input type="text" required  ng-model="acc.education"  name="field2" ng-required="true" autocomplete="off">      
     <span class="highlight"></span>
     <span class="bar5"></span>
     <label>EDUCATION</label>
   </div></li>




   <li><div class="form-group5">
     <img src="../image/flight.svg" alt="Avatar" class="myposting_bag"> 

     <input type="text" required  ng-model="acc.hometown" name="field5" ng-required="true" autocomplete="off"> 
     <span class="highlight"></span>
     <span class="bar5"></span>
     <label>HOMETOWN</label>
   </div></li>



   <li><div class="form-group5">

    <img src="../image/bag.svg" alt="Avatar" class="myposting_bag"> 
    <input type="text" required ng-model="acc.bank_num" ng-blur="store()" name="field4" ng-required="true">     
    <span class="highlight"></span>
    <span class="bar5"></span>
    <label>BANK ACC NO</label>
  </div></li>



</ul>
<br><br><br>
<button id="form5_btn" ><b>UPDATE</b></button>

</form>


</div>