

<div class="w3-card-4 main_card">
    <div class="w3-row">
     <div class=" w3-card-4 connected_card" >

                <div class="w3-container left_prof w3-left" >
                    <img src="../image/photo.png" alt="Avatar" class="img-circle" id="checkout_photo">
                    <div class="checkout_info">
                        <div id="checkout_name">
                            <p><b>Kuldeep Parewa</b> </p>
                        </div>
                        <div id="checkout_oneline">
                            <p id="checkout_date">April, 21</p>
                            <img src="../image/flight.svg" alt="Avatar" class="checkout_plane">
                            <img src="../image/bag.svg" alt="Avatar" class="checkout_bag">
                            <div id="checkout_weight">
                                <p><b>3 Kg</b> Carrying</p>
                            </div>
                        </div>

                        <ul id="checkout_icons">
                            <li> <img src="../image/location.svg" alt="Avatar" id="checkout_location"></li>
                            <li> <img src="../image/facebook.svg" alt="facebook" id="checkout_facebook"></li>
                            <li> <img src="../image/school.svg" alt="school" id="checkout_school"></li>
                            <li> <img src="../image/workplace.svg" alt="workplace" id="checkout_workplace"></li>
                            <li> <img src="../image/rating.svg" alt="rating" id="checkout_rating"></li>
                        </ul>
                    </div>

                </div>
            

                 <div class="w3-container middle_prof w3-left" >
                    <img src="../image/photo.png" alt="Avatar" class="img-circle" id="checkout_photo">
                    <div class="checkout_info">
                        <div id="checkout_name">
                            <p><b>Food Item</b> </p>
                        </div>
                       
                    </div>

                    <div class="item_desc">
                    <p> Please handle the food carefully and kindlt hold it upright,so that it may not spill.</p>
                    </div>

                </div>






                <div class="w3-container right_prof">

        
        
               </div>

              
        </div>

</div>

</div>


