
    <div >
		<!-- =============================== BODY STARTS HERE =================================-->
        <br>
			<img class = "Pakit_Logo" src = "logo.png" alt = "Pakit_Logo"> 
		<br>
		
<!-- =============================== FACEBOOK BOX STARTS HERE =================================-->		
		
		<center>	
			<div class = "facebook_login_box" ng-click="fbLogin()"> 
			
			<!-- Enter the url of Facebook Login Instead of ******-->
			<a class = "facebook_class" href = "*****">   
			<img class = "facebook_logo" src = "fb_blue.png" alt = "Facebook Logo"> &nbsp &nbsp &nbsp Login with Facebook
			</a>
			</div>
			
<!-- =============================== FACEBOOK BOX ENDS HERE =================================-->
			
			
			<br><br>OR<br><br>
			
<!-- =============================== FORM STARTS HERE ======================================-->			
			
			<form  name="form1" ng-submit="submit(form)" novalidate>
				<p class = "para_Email"> <label class = "Email">Email</label>  
					<input type = "text" required ng-model="form.email" name="email" ng-blur="store()" ng-required="true"> </p> 
					
				
				<p class = "para_Password"> <label class = "Password">Password</label>  
					<input type = "password" name = "password" required ng-model="form.email"  ng-blur="store()" ng-required="true"> </p> 
					<br><br>
					<button type = "submit" class="button_submit">Login</button>
					<p>
				    <!-- COreection req -->
				    <label ng-show="error" style="color: red; font-size: 12px;">Wrong Password</label>
				  </p>
			</form>

<!-- =============================== FORM ENDS HERE =======================================-->
			
			<br>

<!-- =============================== CREATE ACCCOUNT LINK STARTS HERE =================================-->
			
				<p class = "Create_An_Account_Link">Not registered? <a class = "SignUP_Link" ui-sref="signup"> Create an account 
					</a> 
				</p>
			
<!-- =============================== CREATE ACCOUNT LINK ENDS HERE =================================-->
							
		</center>
    	

    </div>
