
<nav class="navbar navbar-default connected_users_navigation">
    <div class="container-fluid navbar_container_fluid">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#connected_users_myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
        </button>
        <div class="logo" style="position:absolute;top:0;left:0;color:white;">
            <a ui-sref="navbar.home">PAKIT</a>
        </div>

<!--       ===============================  CHANGES DONE BY AAKASH  ==================================  -->

        <div class="collapse navbar-collapse" id="connected_users_myNavbar">                        
            <span class="dropdown">

                <span class="dropbtn connected_users_myNavbar_icons connected_users_myNavbar_request" onclick = "navbar_request_icon_dropdowns_on_click()">
                    <img class="connected_users_myNavbar_images" src="image/request.svg"/>
                </span>
                <div class="dropdown-content dropdown-menu-right" id = "request_id">
                  <a ui-sref="navbar.account.account_profile">My Accounts</a>
                  <a ui-sref="navbar.account.past_trips">Past Trips</a>
                  <a ui-sref="navbar.account.contact">Contact Us</a>
                  <a ui-sref="navbar.account.faq">FAQs</a>
                  <a ui-sref="navbar.account.terms">Terms of Use</a>
                  <a ui-sref="#">Logout</a>
                </div>
            </span>


    
            <span class="dropdown">
                <span class="dropbtn connected_users_myNavbar_icons connected_users_myNavbar_notification" onclick = "navbar_notification_icon_dropdowns_on_click()">
                    <img class="connected_users_myNavbar_images" src="image/notification.svg"/>
                </span>
                <div class="dropdown-content dropdown-menu-right"  id = "notification_id">
                 <a ui-sref="navbar.account.account_profile">My Accounts</a>
                  <a ui-sref="navbar.account.past_trips">Past Trips</a>
                  <a ui-sref="navbar.account.contact">Contact Us</a>
                  <a ui-sref="navbar.account.faq">FAQs</a>
                  <a ui-sref="navbar.account.terms">Terms of Use</a>
                  <a ui-sref="#">Logout</a>
                </div>
            </span>
    

            <span class="dropdown">

                <span class="dropbtn connected_users_myNavbar_icons connected_users_myNavbar_account" onclick = "navbar_account_icon_dropdowns_on_click()">
                    <img class="connected_users_myNavbar_images" src="image/account.svg"/>
                </span>
                <div class="dropdown-content dropdown-menu-right"  id = "account_id">
                <a ui-sref="navbar.account.account_profile">My Accounts</a>
                  <a ui-sref="navbar.account.past_trips">Past Trips</a>
                  <a ui-sref="navbar.account.contact">Contact Us</a>
                  <a ui-sref="navbar.account.faq">FAQs</a>
                  <a ui-sref="navbar.account.terms">Terms of Use</a>
                  <a ui-sref="#">Logout</a>
                </div>
            </span>
        </div>
<!--       ===============================  CHANGES DONE BY AAKASH  BY TILL HERE 		==================================  -->

    </div>
</nav>
<!--    =======================================  NAVBAR ENDS   ====================================    -->                 
    
                
                
<!--    =======================================  NEW PAKIT AND CURRENT PAKIT TABS STARTS   ====================================    -->           
<div class = "row connected_users_main_row">
    <div class = "col-md-offset-3 col-md-6 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
        <ul class = "connected_users_main_row_ul">
            <li class = "connected_users_new_pakit connected_users_main_row_li" ng-class="{ active: isActive('navbar.home')}"><a href = "#" class = "connected_users_main_row_a" ng-click="goTo('home',$event)">New Pakit</a></li>
            <li class = "connected_users_current_pakit connected_users_main_row_li" ng-class="{ active: isActive('navbar.my_posting') || isActive('navbar.card_navbar')}"><a href = "#" class = "connected_users_main_row_a" ng-click="showPostings()">Current Pakit</a></li>
        </ul>
    </div>
</div>
<hr>
<!--    =======================================  NEW PAKIT AND CURRENT TABS ENDS   ====================================    -->                 

 <div class="container-fluid pakit_main_section" style="padding: 0; margin-top:0;">
    <div class="row" ui-view style="margin-top: 60px;">
        
            <!-- Stuff comes here -->

    </div>
<div>
