	<!DOCTYPE html>
<html>
	
	<head>
	
		<title> Pakit </title>
		<link type = "text/css" rel = "stylesheet" href = "New Pakit.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script>
			$(document).ready(function(){
			$("#club_baggage_anchor").click(function(){
			$("#deliver_pakit").hide();
			$("#deliver_pakit_anchor").addClass("anchor_default");
			$("#send_pakit").hide();
			$("#send_pakit_anchor").addClass("anchor_default");
			$("#request_pakit").hide();
			$("#request_pakit_anchor").addClass("anchor_default");
			$("#club_baggage").fadeToggle();
			$("#anchor_background").fadeToggle();
				});
			});
			
			$(document).ready(function(){
			$("#deliver_pakit_anchor").click(function(){
			$("#request_pakit").hide();
			$("#request_pakit_anchor").addClass("anchor_default");
			$("#send_pakit").hide();
			$("#send_pakit_anchor").addClass("anchor_default");
			$("#club_baggage").hide();
			$("#club_baggage_anchor").addClass("anchor_default");
			$("#deliver_pakit").fadeToggle();
			$("#deliver_pakit_anchor").addClass("anchor_changes");
				});
			});
			
			$(document).ready(function(){
			$("#send_pakit_anchor").click(function(){
			$("#request_pakit").hide();
			$("#request_pakit_anchor").addClass("anchor_default");
			$("#deliver_pakit").hide();
			$("#deliver_pakit_anchor").addClass("anchor_default");
			$("#club_baggage").hide();
			$("#club_baggage_anchor").addClass("anchor_default");
			$("#send_pakit").fadeToggle();
			$("#send_pakit_anchor").addClass("anchor_changes");
				});
			});
			
			$(document).ready(function(){
			$("#request_pakit_anchor").click(function(){
			$("#send_pakit").hide();
			$("#send_pakit_anchor").addClass("anchor_default");
			$("#club_baggage").hide();
			$("#club_baggage_anchor").addClass("anchor_default");
			$("#deliver_pakit").hide();
			$("#deliver_pakit_anchor").addClass("anchor_default");
			$("#request_pakit").fadeToggle();
			$("#request_pakit_anchor").addClass("anchor_changes");
				});
			});		
			
			$(document).ready(function(){
			$("#from_input").focus(function(){
			if(($("#from_input").val()) == ""){
			$("#from_source_label").removeClass("movelabeltodefault");	
			$("#from_source_label").addClass("movelabelup");
					}
			if($("#destination_input").val() == ""){
			$("#to_destination_label").addClass("movelabeltodefault");		
					}		
			if($("#flight_input").val() == ""){
			$("#flight_date_label").addClass("movelabeltodefault");		
					}
			if($("#weight_input").val() == ""){
			$("#weight_carry_label").addClass("movelabeltodefault");		
					}		
				});
			});
			
			
			$(document).ready(function(){
			$("#destination_input").focus(function(){
			if(($("#destination_input").val()) == ""){
			$("#to_destination_label").removeClass("movelabeltodefault");
			$("#to_destination_label").addClass("movelabelup");
					}
			if($("#from_input").val() == ""){
			$("#from_source_label").addClass("movelabeltodefault");
					}		
			if($("#flight_input").val() == ""){
			$("#flight_date_label").addClass("movelabeltodefault");
					}
			if($("#weight_input").val() == ""){
			$("#weight_carry_label").addClass("movelabeltodefault");
					}					
				});
			});
			
			$(document).ready(function(){
			$("#flight_input").focus(function(){
			if($("#flight_input").val() == ""){
		    $("#flight_date_label").removeClass("movelabeltodefault");
			$("#flight_date_label").addClass("movelabelup");
					}
			if($("#destination_input").val() == ""){
			$("#to_destination_label").addClass("movelabeltodefault");
					}		
			if($("#from_input").val() == ""){
			$("#from_source_label").addClass("movelabeltodefault");
					}
			if($("#weight_input").val() == ""){
			$("#weight_carry_label").addClass("movelabeltodefault");
					}					
				});
			});
			
			$(document).ready(function(){
			$("#weight_input").focus(function(){
			if($("#weight_input").val() == ""){
			$("#weight_carry_label").removeClass("movelabeltodefault");	
			$("#weight_carry_label").addClass("movelabelup");
					}
			if($("#destination_input").val() == ""){
			$("#to_destination_label").addClass("movelabeltodefault");
					}		
			if($("#flight_input").val() == ""){
			$("#flight_date_label").addClass("movelabeltodefault");
					}
			if($("#from_input").val() == ""){
			$("#from_source_label").addClass("movelabeltodefault");
					}				
				});
			});
			
		</script>
	</head>
	
	<body>
	  <div class = "container">	
		<nav>
			<div class = "navigation_bar">
					<div class = "top_left_icons">
						<img src = "requests.svg">
					</div>
					<div class = "top_right_icons">
						<ul>	
							<li><img src = "requests.svg"></li>
							<li><img src = "notifications.svg"></li>
							<li><img src = "account.svg"></li>
						</ul>
					</div>	
				</div>
		</nav>	
		
		<div class = "main">
			<div class = "New_Pakit">
				<a href = "#"> New Pakit </a>
			</div>
			<div class = "Current_Pakit">
				<a href = "#"> Current Pakit </a>
			</div>
		</div>
		
		<hr>
		
		<div class = "box">
				<div class = "left_box">
					<div> <a href = "#" id = "club_baggage_anchor" class = "anchor_default"> CLUB BAGGAGE </a> </div>
					<div id = "club_baggage"></div>
					<div> <a href = "#" id = "deliver_pakit_anchor" class = "anchor_default">  DELIVER A PAKIT </a> </div>
					<div id = "deliver_pakit"></div>
					<div> <a href = "#" id = "send_pakit_anchor" class = "anchor_default">  SEND A PAKIT </a> </div>
					<div id = "send_pakit"></div>
					<div> <a href = "#" id = "request_pakit_anchor" class = "anchor_default">  REQUEST A PAKIT </a> </div>
					<div id = "request_pakit"></div>		
					
				</div>
			
				<div class = "right_box">
					<div class = "right_inner_box">
						<form>
							<div class = "description_image_and_input_field">
								<div class = "description_image">
									<img src = "source.svg">
								</div>
								<div class = "input_field">
									<label id = "from_source_label"> From (Source) </label>
									<input type = "text" id = "from_input"> </input>
								</div>
							</div>
							
							<div class = "description_image_and_input_field">
								<div class = "description_image">
									<img src = "destination.svg">
								</div>
								<div class = "input_field">
									<label id = "to_destination_label"> To (Destination) </label>
									<input type = "text" id = "destination_input"> </input>
								</div>
							</div>
							
							<div class = "description_image_and_input_field">
								<div class = "description_image">
									<img src = "flight.svg">
								</div>
								<div class = "input_field">
									<label id = "flight_date_label"> Flight Date </label>
									<input type = "text" id = "flight_input"> </input>
								</div>
							</div>
							
							<div class = "description_image_and_input_field">
								<div class = "description_image">
									<img src = "suitcase-04.svg">
								</div>
								<div class = "input_field">
									<label id = "weight_carry_label"> Weight you can carry </label>
									<input type = "text" id = "weight_input"> </input>
								</div>
							</div>
							
							<div>
								<input type = "submit" value = "POST AND VIEW USERS" class = "button_submit"> </input>
							</div>
						</form>	
				</div>
			</div>			
		</div>	
	  </div>	
	</body>
</html>