<!DOCTYPE html>
    
    <head>
        <title> Pakit </title>
        <link rel="stylesheet" type="text/css" href="Signup.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
<!-- =============================== BODY STARTS HERE =================================-->
        <br>
			<img class = "Pakit_Logo" src = "logo.png" alt = "Pakit_Logo"> 
		<br>
		
<!-- =============================== FACEBOOK BOX STARTS HERE =================================-->		
		
		<center>	
			<div class = "facebook_login_box"> 
			
			<!-- Enter the url of Facebook Login Instead of ******-->
			<a class = "facebook_class" href = "*****">   
			<img class = "facebook_logo" src = "fb_blue.png" alt = "Facebook Logo"> &nbsp &nbsp &nbsp Login with Facebook
				</a>
			</div>
			
<!-- =============================== FACEBOOK BOX ENDS HERE =================================-->
			
			
			<br><br>OR<br><br>
			
<!-- =============================== FORM STARTS HERE ======================================-->			
			
			<form>
				<p class = "para_Name"> 
				  <label class = "Name">Name</label>  
					<input type = "text" name = "Name"> <!-- placeholder = "Name" -->
				</p>
				<p class = "para_Email">
				  <label class = "Email">Email</label>
					<input type = "text" name = "Email"> <!-- placeholder = "Email" -->
				</p>
				<p class = "para_Password">
				  <label class = "Password">Password</label>
					<input type = "password" name = "Password">  <!--placeholder = "Password" --><br><br><br>
					<input type = "button" class = "button_submit" value="SIGN UP"> 
				</p>
			</form>

<!-- =============================== FORM ENDS HERE =======================================-->

			

<!-- =============================== LOGIN BUTTON STARTS HERE=================================-->
			
			
<!-- =============================== LOGIN BUTTON ENDS HERE =================================-->
			
			<br>

<!-- =============================== CREATE ACCCOUNT LINK STARTS HERE =================================-->
			
				<p class = "Create_An_Account_Link">Already registered? <a class = "Login_Link" href = "Login.html"> Sign In 
					</a> 
				</p>
			
<!-- =============================== CREATE ACCOUNT LINK ENDS HERE =================================-->
							
		</center>
    </body>
</html>