<!DOCTYPE html>
    <html>
        <head>
            <title> Pakit </title>
            <meta charset = "utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--            <link rel = "stylesheet" type = "text/css" href = "/home/aakash/Desktop/JustPakit/bootstrap-4.0.0-beta-dist/css/bootstrap.css">
            <link rel = "stylesheet" type = "text/css" href = "/home/aakash/Desktop/JustPakit/bootstrap-4.0.0-beta-dist/css/bootstrap.min.css">
            <link rel = "stylesheet" type = "text/css" href = "/home/aakash/Desktop/JustPakit/bootstrap-4.0.0-beta-dist/css/bootstrap.grid.css">	-->
            <link type = "text/css" rel = "stylesheet" href = "User_Details_Beta.css">
             <link type = "text/css" rel = "stylesheet" href = "Responsive_Beta.css">

        </head>
        <body>
            <div class = "container_box" id = "collapse_card" class = "collapse">
                <nav class="navbar navbar-default navigation">
                    <div class="container-fluid">
                    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        					<span class="icon-bar"></span>
      					  	<span class="icon-bar"></span>
        					<span class="icon-bar"></span>                        
      					</button>
      					<div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href = "#">A<img src = "#"></a></li>
                            <li><a href = "#">B<img src = "#"></a></li>
                            <li><a href = "#">C<img src = "#"></a></li>
                            <li><a href = "#">D<img src = "#"></a></li>
                            <li><a href = "#">E<img src = "#"></a></li>
                        </ul>
                    </div>
                    </div>
                </nav>
                <div class = "main_row">
                    <ul>
                        <li><a href = "#">New Pakit</a></li>
                        <li><a href = "#">Current Pakit</a></li>
                    </ul>
                </div>
                <hr>		
        <!--        <div class="row" id="tabs">
                <div class="col-md-12">
                    <div class="row tabrow">
                        <div class="col-md-2 col-xs-6">
                            <div class="row">
                                <div class="col-md-11 col-md-offset-3 col-xs-4 col-xs-offset-6">
                                    <a href="#" class="disabledLink">New Pakit</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6">
                           <a href="#" class="curpakit">Current Pakits</a>
                        </div>
                    </div>
                    <div class="line"></div>
                </div>
            </div>		-->
                <div class = "exterior_box">    
                    <div class = "interior_upper_box">    
                        <div class = "flight_logo">
                            <img src = "indigo.jpg">
                        </div>
                        <div class = "date_and_collapse">
                            <div class = "date">
                                April 21,2017
                            </div>
                           <div class = "dropdown_and_collapse">
                            <a href = "#collapse_card" data-toggle = "collapse" class = "collapse_link">COLLAPSE</a>
                             <div class="dropdown dots">
                                <img src = "3 dots.svg" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#">********</a></li>
                                    <li><a href="#">########</a></li>
                                    <li><a href="#">@@@@@@@@</a></li>
                                </ul>
                            </div>
                            </div>
                        </div>
         			  <div class = "from_to_profile_and_submain_and_baggage_weight">
                          <div class = "from_to_profile">  	
                                    <div class = "from">DEL</div>
                                    <div class =  "flight_direction"><img src = "plane.svg"></div>
                                    <div class = "to">GAU</div>
                          </div>	  
                       	 <div class = "connected_and_all_users">
                        	<div class = "connected"><a href = "#">Connected</a></div>
                        	<div class = "all_users"><a href = "#">All Users</a></div>
                         </div>	
                         <span class = "baggage_weight">
                         	<span> <img src = "suitcase-04.svg" class = "baggage"></span>
                         	<span>Weight : </span>
                         	<span class = "weight"> 5kg </span>
                         	<span> carrying </span>
                         </span>
                        </div>	
                    </div>
                    <div class = "interior_lower_box">
                        <div class = "row">
                        	<div class = "col-md-4 left_box">
                        		<div class = "card1">
						<div class = "card_card">
							<div class = "card_image">
								<img src = "https://lh3.googleusercontent.com/-OhOrkpybvhU/VbGeDhUAM_I/AAAAAAAAQ68/hOCeFTX_FbY/s576-Ic42/Rajma%252520Curry%252520Recipe%25252008.JPG" alt = "customer image">
							</div>
							<div class = "card_name_and_notificatons">
								<div class = "card_name">
									Kuldeep Parewa
								</div>
								<div class = "card_notifications">
									<img src = "3 dots.svg" alt = "notification menu">
								</div>
							</div>
							<div class = "card_information">
								<div class = "card_flight_details">
									<div class = "card_flight_logo">
										<img src = "flight.svg" alt = "flight logo">
									</div>
									<div class = "card_date">
										May 23,2017
									</div>
								</div>
								<div class  = "card_baggage_details">
									<div class = "card_suitcase">
										<img src = "suitcase-04.svg" alt = "checkin baggage">
									</div>
									<div class = "card_weight">
										3 kg 
									</div>
									carrying
								</div>
							</div>	
							<div class = "card_symbols_and_invite">
								<div class = "card_symbols">
									<div class = "card_location">
										<img src = "location.svg">
									</div>
									<div class = "card_facebook">
										<img src = "facebook.svg">
									</div>
									<div class = "card_education">
										<img src = "education.svg">
									</div>
									<div class = "card_workplace">
										<img src = "workplace.svg">
									</div>
									<div class = "card_rating">
										<img src = "rating.svg">
									</div>
								</div>
								<div class = "card_invite">
									<img src = "invite.svg"> INVITE
								</div>
							</div>
						</div>
					</div>
					<div class = "card2">
						<div class = "card_card">
			<div class = "card_image">
				<img src = "https://lh3.googleusercontent.com/-OhOrkpybvhU/VbGeDhUAM_I/AAAAAAAAQ68/hOCeFTX_FbY/s576-Ic42/Rajma%252520Curry%252520Recipe%25252008.JPG" alt = "customer image">
			</div>
			<div class = "card_name_and_notificatons">
			<div class = "card_name">
				Kuldeep Parewa
			</div>
			<div class = "card_notifications">
				<img src = "3 dots.svg" alt = "notification menu">
			</div>
			</div>
			<div class = "card_information">
				<div class = "card_flight_details">
				<div class = "card_flight_logo">
					<img src = "flight.svg" alt = "flight logo">
				</div>
				<div class = "card_date">
					May 23,2017
				</div>
				</div>
				<div class  = "card_baggage_details">
				<div class = "card_suitcase">
					<img src = "suitcase-04.svg" alt = "checkin baggage">
				</div>
				<div class = "card_weight">
					3 kg 
				</div>
				carrying
				</div>
			</div>	
			<div class = "card_symbols_and_invite">
				<div class = "card_symbols">
					<div class = "card_location">
						<img src = "location.svg">
					</div>
					<div class = "card_facebook">
						<img src = "facebook.svg">
					</div>
					<div class = "card_education">
						<img src = "education.svg">
					</div>
					<div class = "card_workplace">
						<img src = "workplace.svg">
					</div>
					<div class = "card_rating">
						<img src = "rating.svg">
					</div>
				</div>
				<div class = "card_invite">
					<img src = "invite.svg"> INVITE
				</div>
			</div>
		</div>
					</div>
					<div class = "card3">
						<div class = "card_card">
			<div class = "card_image">
				<img src = "https://lh3.googleusercontent.com/-OhOrkpybvhU/VbGeDhUAM_I/AAAAAAAAQ68/hOCeFTX_FbY/s576-Ic42/Rajma%252520Curry%252520Recipe%25252008.JPG" alt = "customer image">
			</div>
			<div class = "card_name_and_notificatons">
			<div class = "card_name">
				Kuldeep Parewa
			</div>
			<div class = "card_notifications">
				<img src = "3 dots.svg" alt = "notification menu">
			</div>
			</div>
			<div class = "card_information">
				<div class = "card_flight_details">
				<div class = "card_flight_logo">
					<img src = "flight.svg" alt = "flight logo">
				</div>
				<div class = "card_date">
					May 23,2017
				</div>
				</div>
				<div class  = "card_baggage_details">
				<div class = "card_suitcase">
					<img src = "suitcase-04.svg" alt = "checkin baggage">
				</div>
				<div class = "card_weight">
					3 kg 
				</div>
				carrying
				</div>
			</div>	
			<div class = "card_symbols_and_invite">
				<div class = "card_symbols">
					<div class = "card_location">
						<img src = "location.svg">
					</div>
					<div class = "card_facebook">
						<img src = "facebook.svg">
					</div>
					<div class = "card_education">
						<img src = "education.svg">
					</div>
					<div class = "card_workplace">
						<img src = "workplace.svg">
					</div>
					<div class = "card_rating">
						<img src = "rating.svg">
					</div>
				</div>
				<div class = "card_invite">
					<img src = "invite.svg"> INVITE
				</div>
			</div>
		</div>
					</div>
					<div class = "card4">
						<div class = "card_card">
			<div class = "card_image">
				<img src = "https://lh3.googleusercontent.com/-OhOrkpybvhU/VbGeDhUAM_I/AAAAAAAAQ68/hOCeFTX_FbY/s576-Ic42/Rajma%252520Curry%252520Recipe%25252008.JPG" alt = "customer image">
			</div>
			<div class = "card_name_and_notificatons">
			<div class = "card_name">
				Kuldeep Parewa
			</div>
			<div class = "card_notifications">
				<img src = "3 dots.svg" alt = "notification menu">
			</div>
			</div>
			<div class = "card_information">
				<div class = "card_flight_details">
				<div class = "card_flight_logo">
					<img src = "flight.svg" alt = "flight logo">
				</div>
				<div class = "card_date">
					May 23,2017
				</div>
				</div>
				<div class  = "card_baggage_details">
				<div class = "card_suitcase">
					<img src = "suitcase-04.svg" alt = "checkin baggage">
				</div>
				<div class = "card_weight">
					3 kg 
				</div>
				carrying
				</div>
			</div>	
			<div class = "card_symbols_and_invite">
				<div class = "card_symbols">
					<div class = "card_location">
						<img src = "location.svg">
					</div>
					<div class = "card_facebook">
						<img src = "facebook.svg">
					</div>
					<div class = "card_education">
						<img src = "education.svg">
					</div>
					<div class = "card_workplace">
						<img src = "workplace.svg">
					</div>
					<div class = "card_rating">
						<img src = "rating.svg">
					</div>
				</div>
				<div class = "card_invite">
					<img src = "invite.svg"> INVITE
				</div>
			</div>
		</div>
					</div>
					<div class = "card5">
						<div class = "card_card">
			<div class = "card_image">
				<img src = "https://lh3.googleusercontent.com/-OhOrkpybvhU/VbGeDhUAM_I/AAAAAAAAQ68/hOCeFTX_FbY/s576-Ic42/Rajma%252520Curry%252520Recipe%25252008.JPG" alt = "customer image">
			</div>
			<div class = "card_name_and_notificatons">
			<div class = "card_name">
				Kuldeep Parewa
			</div>
			<div class = "card_notifications">
				<img src = "3 dots.svg" alt = "notification menu">
			</div>
			</div>
			<div class = "card_information">
				<div class = "card_flight_details">
				<div class = "card_flight_logo">
					<img src = "flight.svg" alt = "flight logo">
				</div>
				<div class = "card_date">
					May 23,2017
				</div>
				</div>
				<div class  = "card_baggage_details">
				<div class = "card_suitcase">
					<img src = "suitcase-04.svg" alt = "checkin baggage">
				</div>
				<div class = "card_weight">
					3 kg 
				</div>
				carrying
				</div>
			</div>	
			<div class = "card_symbols_and_invite">
				<div class = "card_symbols">
					<div class = "card_location">
						<img src = "location.svg">
					</div>
					<div class = "card_facebook">
						<img src = "facebook.svg">
					</div>
					<div class = "card_education">
						<img src = "education.svg">
					</div>
					<div class = "card_workplace">
						<img src = "workplace.svg">
					</div>
					<div class = "card_rating">
						<img src = "rating.svg">
					</div>
				</div>
				<div class = "card_invite">
					<img src = "invite.svg"> INVITE
				</div>
			</div>
		</div>
					</div>
                        	</div>
                        	<div class = "col-md-4 middle_box">
                        		<div class = "middle_box_box">
				<div class = "middle_box_customer">
					<div class = "middle_box_image">
						<img src = "https://lh3.googleusercontent.com/-OhOrkpybvhU/VbGeDhUAM_I/AAAAAAAAQ68/hOCeFTX_FbY/s576-Ic42/Rajma%252520Curry%252520Recipe%25252008.JPG" alt = "customer image">
					</div>
					<div class = "middle_box_name">
						Kuldeep Parewa
					</div>
				</div>
				<div class = "middle_box_customer_details">
					<div class = "middle_box_flight_info">
						<div class = "middle_box_flight_logo">
							<img src = "flight.svg">
						</div>
						<div class = "middle_box_flight_no">
							Flight No. : 
						</div>
					</div>
					<div class = "middle_box_workplace_info">
						<div class = "middle_box_suitcase_logo">
							<img src = "suitcase-04.svg">
						</div>
						<div class = "middle_box_workplace">
							Workplace: 
						</div>
					</div>
					<div class = "middle_box_education_info">
						<div class = "middle_box_education_logo">
							<img src = "education.svg">
						</div>
						<div class = "middle_box_education">
							Education: 
						</div>
					</div>
					<div class = "middle_box_residence_info">
						<div class = "middle_box_home_logo">
							<img src = "hometown.svg">
						</div>
						<div class = "middle_box_residence">
							Hometown: 
						</div>
					</div>
				</div>
				<div class = "middle_box_customer_reviews">
					<span class = "middle_box_review">
						Reviews
					</span>
					<span class = "middle_box_rating">
						<div class= "middle_box_star1">
							<img src = "rating.svg"	>
						</div>	
						<div class= "middle_box_star2">
							<img src = "rating.svg">
						</div>
						<div class= "middle_box_star3">
							<img src = "rating.svg">
						</div>
						<div class= "middle_box_star4">
							<img src = "rating.svg">
						</div>
						<div class= "middle_box_star5">
							<img src = "rating.svg">
						</div>
					</span>
					<div class = "middle_box_arrow">
						>
					</div>
				</div>
				<div class = "middle_box_invite_button">
					<input type = "submit" value = "INVITE"> </input>
				</div>
			</div>
                        	</div>
                        	<div class = "col-md-4" id = "map">
                        	</div>
                        	<script>
								function myMap() {
								var mapOptions = {
								center: new google.maps.LatLng( 26.194, 91.6931),
								zoom: 10,
								mapTypeId: google.maps.MapTypeId.HYBRID
									}
								var map = new google.maps.Map(document.getElementById("map"), mapOptions);
								}
							</script>

							<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIvYMBdKNf2B76_9VTfgk8gWyjst1qkW4&callback=myMap"></script>
                        </div>
                    </div>      	
                  </div>
            </div>    
        </body>    
    </html>