.myposting_head {
    text-align: center;
    font-size: 16px;
    color: darkslategray;
    font-weight: 600;
    border: 1px solid;
    padding: 15px;
}
.myposting_card_section{
	overflow: hidden;
	border:1px solid;
	padding: 10px;
	height: 500px;
}
.myposting_cols{

}