@media only screen and (max-width: 1220px){
    .new_pakit_form .new_pakit_input{
        width: 40%;
    }
    .new_pakit_form .new_pakit_button{
        width: 39%;
    }
}



@media only screen and (max-width: 1000px){
    .new_pakit_options{
        padding-left: 0;
        text-align: center;
    }
    .new_pakit_form .new_pakit_input{
        width: 40%;
    }
    .new_pakit_form .new_pakit_button{
        width: 40%;
    }
}



@media only screen and (max-width: 980px){
    .new_pakit_form .new_pakit_button{
        width: 30%;
    }
}


@media only screen and (max-width: 790px){
    .new_pakit_form .new_pakit_input{
        width: 40%;
    }
    .new_pakit_form .new_pakit_button{
        width: 40%;
    }
    #new_pakit_myNavbar .new_pakit_myNavbar_ul .new_pakit_myNavbar_li{
        text-align: center;
    }
}



@media only screen and (max-width: 670px){
    .new_pakit_form .new_pakit_input{
        width: 50%;
    }
    .new_pakit_form .new_pakit_button{
        width: 50%;
    }
}



@media only screen and (max-width: 530px){
    .new_pakit_form .new_pakit_input{
        width: 60%;
    }
    .new_pakit_form .new_pakit_button{
        width: 60%;
    }
}

/*  ===============================     CHANGES DONE BY AAKASH FOR MOBILE VIEW      ==========================      */

@media only screen and (max-width: 450px){
    .new_pakit_options .new_pakit_options_2{
        padding-left: 15px;
    }
}

/*  ==============================      CHANGES DONE BY AAKASHH TILL HERE       ===============================      */

@media only screen and (max-width: 420px){
    .new_pakit_form .new_pakit_input{
        width: 70%;
    }
    .new_pakit_form .new_pakit_button{
        margin-right: 50px;
        width: 70%;
    }
}


@media only screen and (max-width: 400px){
    .new_pakit_input_feild{
        margin-left: 30px;
    }
    .new_pakit_form .new_pakit_input{
        margin-left: 10px;
    }
    .new_pakit_form .new_pakit_label{
        margin-left: 70px;
    }
}


@media only screen and (max-width: 350px){
    .new_pakit_main_row .new_pakit_main_row_ul .new_pakit_main_row_li{
        padding: 0 10px;
    }
    .new_pakit_input_feild{
        margin-left: 20px;
    }
    .new_pakit_form .new_pakit_input{
        margin-left: 10px;
    }
    .new_pakit_form .new_pakit_label{
        margin-left: 60px;
    }
    .new_pakit_form .new_pakit_input{
        width: 80%;
    }
    .new_pakit_form .new_pakit_button{
        width: 80%;
        margin-left: 25px;
    }
}


/*    ==================================     CHANGES DONE BY AAKASH FOR MOBILE VIEW        ============================ */
        
      /* ====================== NAME OF CLUB BAGGAGE, DELIVER PAKIT, SEND PAKIT, REQUEST PAKIT ARE CHANGES TO
OPT1,OPT2,ETC.ALSO OPT1, OPT2, OPT3, OPT4 HAVE  SEPARATE RESPONSIIVE CSS (SO NEED HELPFROM BHAIYA) =================   */  

        /*@media only screen and (max-width: 426px){
            .new_pakit_club_baggage , .new_pakit_send_pakit , .new_pakit_request_pakit{
                display: none;
            }
            #new_pakit_deliver_pakit_extension{
                display: none;
            }
        }*/
      /*        ================================  CHANGES DONE BY AAKASH TILL HERE    =================================   */


        @media only screen and (max-width: 400px){
            .new_pakit_form .new_pakit_label{
                font-size: 14px;   
            }
        }


        /*  ========   INSTEAD OF ALL input[type = submit], button WAS WRITTEN BECASUE IN HTML IT IS BUTTON  ========= */

/*    =======================================     CHANGES DONE BY AAKASH TIL HERE       ===============================*/